/***************************************************
Social Media Container
**************************************************/

.social-media {
	position: fixed;
	bottom: 20px;
	left: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	z-index: 9998;
	transition: background .3s;
	transform: translateY(50px);
	opacity: 0;
	@media (max-width: $bp-tablet) {
		z-index: 9999;
		justify-content: center;
		transform: scale(0.8);
		visibility: hidden;
		opacity: 0;
		transition: visibility 0ms .5s, opacity .5s 0ms;
		background-color: rgba(0,0,0,0);
	}
}
.active-nav .social-media,
.page-template-template-contact .social-media {
	background-color: rgba(0,0,0,0.9);
}
.js-nav-enabled .social-media {
	opacity: 1;
	visibility: visible;
	transition: visibility 0ms 0ms, opacity .5s 0ms;
}
.sm-group-1 {
	display: flex;
	align-items: flex-start;
	padding-left: 25px;
	position: relative;
	z-index: 2;
	@media (max-width: $bp-tablet) {
		z-index: 9999;
	}
}
.sm-group-2 {
	display: flex;
	align-items: flex-end;
	padding-right: 25px;
	position: relative;
	z-index: 2;
	@media (max-width: $bp-tablet) {
		margin-left: 16px;
	}
}
.sm-item {
	margin-left: 16px;
	height: 18px;
	transition: all .2s ease-out;
	a {
		display: block;
		padding: 2px;
	}
	&:first-of-type {
		margin-left: 0;
	}
	svg, img {
		height: 18px;
		width: auto;
		display: block;
		transition: all .3s;
		path {
			fill: white;
			transition: all .3s;
		}
	}
	&:hover a svg,
	&:hover a img {
		transform: scale(0.7);
		path {
			fill: white;
		}
	}
}
.ie11 .sm-item svg,
.ie11 .sm-item img {
	width: 20px;
}