.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
}
section {
	width: 100%;
}
.container {
	padding: em(190) em(65) 0;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;

	@media (max-width: $bp-tablet) {
		width: 100%;
		padding: em(105) em(35) 0;
	}

}
.content {
	width:  100%;
	margin-top: em(15);
}
